[submodule "ext/SI"]
	path = ext/SI
	url = https://github.com/jensboe/SI
[submodule "ext/modm"]
	path = ext/modm
	url = https://github.com/jensboe/modm
	branch = fix/modm-cmake-as-part-of-a-multi-application-project
